.product-grid {

    &__refinements {
        align-items: center;
        background: $white;
        display: flex;
        justify-content: space-between;
        margin-left: -12px;
        margin-right: -12px;
        padding: 12px 0;
        position: sticky;
        top: 60px;
        z-index: 999;


        &-filters {
            align-items: center;
            // background: rgba(0, 0, 255, 0.1);
            border: none;
            display: flex;
            flex-basis: 25%;
            flex-direction: row;
            flex-wrap: nowrap;
            font-size: 14px;
            height: 40px;
            line-height: 18px;
            padding: 8px;
            position: relative;
            text-transform: uppercase;
            transition: all 0.5s ease;
            width: 100%;
            &.show {
                background: $mako;
                .dropdown__label {
                    color: $white;
                    svg {
                        fill: $white;
                        transform: rotateZ(180deg);
                    }
                }
            }

            &__label {
                align-content: center;
                align-items: center;
                cursor: pointer;
                display: flex;
                justify-content: space-between;
                width: 100%;
                // background: rgba(0, 0, 255, 0.1);
            }

            &__icon {
                display: flex;
                height: 24px;
                // background: rgba(0, 255, 0, 0.1);
                width: 24px;
                svg {
                    height: 24px;
                    transition: all 0.5s ease;
                    width: 24px;
                }
            }
        }


        &-sorting {
            // background: rgba(0, 255, 0, 0.1);
            flex-basis: 25%;
            padding-left: 12px;
            padding-right: 12px;
        }


        &-visible {
            // background: rgba(255, 0, 0, 0.1);
            display: flex;
            flex-basis: 50%;
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: flex-end;
            padding-left: 12px;
            padding-right: 12px;
            @media screen and (max-width: 767px) {
                display: none;
            }
        }

    }



    &__inner {
        display: flex;
        margin-left: -12px;
        margin-right: -12px;
        align-items: flex-start;
        &[data-show-filters="true"] {
            // margin-left: -12px;
            // margin-right: -12px;
            .product-grid__aside {
                flex-basis: 25%;
                width: 25%;
                margin-top: -12px;
                z-index: 999;
                padding: 24px 12px 12px;
                border: 1px solid $mako;
                border-top: none;
                min-height: 600px;
            }
            .product-grid__main {
                flex-basis: 75%;
                margin: 0;
                width: 75%;
            }
        }
    }

    &__aside {
        // background: rgba(blue, 0.1);
        transition: all 0.3s ease;
        width: 0;
        overflow: hidden;
    }


    &__main {
        // background: rgba(red, 0.1);
        display: grid;
        flex-basis: 100%;
        grid-gap: 0;
        grid-template-columns: repeat(2, 1fr);
        // margin-left: -12px;
        // margin-right: -12px;
        transition: all 0.3s ease;
        width: 100%;
        @media screen and (min-width: 768px) {
            &[data-grid-view="2"] {
                grid-template-columns: repeat(2, 1fr);
            }
            &[data-grid-view="3"] {
                grid-template-columns: repeat(3, 1fr);
            }
            &[data-grid-view="4"] {
                grid-template-columns: repeat(4, 1fr);
            }
        }

        a {
            color: $black;
            text-decoration: none;
        }
    }
}

