.quickview {
    background: rgba($black, .8);
    display: block;
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1050;

    &__content {
        background: $white;
        box-shadow: 0 0 8px 4px rgba($black, 0.8);
        display: block;
        min-height: 720px;
        left: 50%;
        position: absolute;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 960px;
    }


    // ==========================================================================
    // Close Btn
    // ==========================================================================
    &__close-btn {
        align-items: center;
        background: $white;
        border: none;
        cursor: pointer;
        display: flex;
        height: 48px;
        justify-content: center;
        position: absolute;
        right: 0;
        transition: all .5s ease;
        width: 48px;
        &:hover {
            background: $iron;
            svg {
                fill: $black;
            }
        }

        svg {
            transition: all .5s ease;
        }
    }

    // ==========================================================================
    // Header
    // ==========================================================================
    &__header {
        padding: 16px 24px;
        h3 {
            color: $mako;
            font-size: 18px;
            font-weight: $font-weight--medium;
            line-height: 22px;
            margin: 0;
        }
        a {
            color: $gray;
            display: block;
            font-size: 12px;
            line-height: 16px;
            margin-top: 4px;
            &:hover {
                text-decoration: underline;
            }
        }
    }



    // ==========================================================================
    // Main
    // ==========================================================================
    &__main {
        display: flex;
        flex-wrap: wrap;
        padding: 16px 24px;
        @media screen and (min-width: $breakpoint-md) {
            flex-wrap: nowrap;
        }
        // --------------------------------------------------------------------------
        // Left
        // --------------------------------------------------------------------------
        &-left {
            flex-basis: 100%;
            flex-grow: 1;
            flex-shrink: 1;
            padding: 12px 12px 12px 0;
            width: 100%;
            @media screen and (min-width: $breakpoint-md) {
                flex-basis: 50%;
                width: 50%;
            }
        }

        &-right {
            flex-basis: 100%;
            flex-grow: 1;
            flex-shrink: 1;
            padding: 12px;
            width: 100%;
            @media screen and (min-width: $breakpoint-md) {
                flex-basis: 50%;
                width: 50%;
            }
        }
    }

    // --------------------------------------------------------------------------
    // Product Images
    // --------------------------------------------------------------------------
    &__image {
        // --------------------------------------------------------------------------
        // Slider
        // --------------------------------------------------------------------------
        &-slider {
            align-items: flex-start;
            display: flex;
            justify-content: center;
            overflow: hidden;
            .slick {
                &-slider {
                    width: 100%;
                }
                &-slide {
                    display: block;
                    padding-left: 0.5px;
                    padding-right: 0.5px;
                }
                &-arrow {
                    align-items: center;
                    background: rgba(white, 1);
                    border: 1px solid $iron;
                    border-radius: 50%;
                    box-shadow: 0 1px 2px rgba($mako, 0.3);
                    display: flex;
                    height: 36px;
                    justify-content: center;
                    transition: all 0.3s ease;
                    width: 36px;
                    z-index: 1;
                    &:hover {
                        border: 1px solid $gray;
                    }
                    &::before {
                        display: none;
                    }
                    svg {
                        height: 36px;
                        width: 36px;
                    }
                }
                &-prev {
                    left: 8px;
                    svg {
                        padding-right: 4px;
                    }
                }
                &-next {
                    right: 8px;
                }
            }
        }

        &-thumbnails {
            padding: 0 16px;
            .slick {
                &-slider {
                    display: block;
                    padding-left: 12px;
                    padding-right: 12px;
                    width: 100%;
                }
                &-slide {
                    cursor: pointer;
                    padding: 8px;
                }
                &-arrow {
                    align-items: center;
                    background: transparent;
                    display: flex;
                    height: 36px;
                    justify-content: center;
                    transition: all 0.3s ease;
                    width: 36px;
                    z-index: 1;
                    // &:hover {
                    //     border: 1px solid $gray;
                    // }
                    &::before {
                        display: none;
                    }
                    svg {
                        height: 36px;
                        width: 36px;
                    }
                }
                &-prev {
                    left: -8px;
                    // svg {
                    //     padding-right: 4px;
                    // }
                }
                &-next {
                    right: -8px;
                }
            }
        }
    }


    &__promotion {
        color: $red;
        display: block;
        font-size: 12px;
        font-weight: $font-weight--medium;
        line-height: 16px;
        margin-bottom: 8px;
    }

    &__brand {
        font-size: 16px;
        font-weight: $font-weight--medium;
        line-height: 20px;
        margin-bottom: 8px;
    }

    &__title {
        font-size: 16px;
        font-weight: $font-weight--medium;
        line-height: 20px;
        margin: 0;
    }

    &__price {
        display: block;
        display: flex;
        flex-direction: row-reverse;
        flex-wrap: nowrap;
        font-size: 14px;
        justify-content: flex-end;
        line-height: 16px;
        margin-top: 8px;

        &--reg {
            color: $gray;
        }

        &--sale {
            color: $red;
            margin-left: 8px;
        }

        &--discount {
            color: $gray-lt;
            margin-left: 8px;
        }
    }

    // --------------------------------------------------------------------------
    // Swatches
    // --------------------------------------------------------------------------
    &__swatches {
        display: block;
        margin-bottom: 32px;
        margin-top: 32px;
        position: relative;
        ul {
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: flex-start;
            list-style-type: none;
            margin: 0;
            margin-top: 12px;
            padding: 0;
            li {
                align-items: center;
                background: #fff;
                border: 1px solid #ccc;
                border-radius: 100%;
                cursor: pointer;
                display: flex;
                height: 32px;
                justify-content: center;
                transition: border 0.1s ease;
                width: 32px;
                &:not(:last-child) {
                    margin-right: 8px;
                }
                &:hover {
                    border: 1px solid #333;
                }

                &.active {
                    border: 1px solid #333;
                }

                span {
                    border-radius: 100%;
                    display: block;
                    height: 26px;
                    width: 26px;
                }
            }
        }
    }


    &__actions {
        margin-top: 16px;
    }

}
