.page-title {
    font-family: $font-secondary;
    text-align: center;
    margin-top: 24px;
    h2 {
        font-size: 48px;
        line-height: 56px;
        font-weight: $font-weight--light;
        margin: 0;
    }
}
