

// ==========================================================================
// Colors
// ==========================================================================

// Brand Colors
$brand-primary:     #2C3D63;
$brand-secondary:   #ADDCCA;
$brand-highlight:   #FF6F5E;

// Neutrals
$black:             #333333;
$mako:              #43494F;
$gray:              #666666;
$gray-lt:           #9A9C9F;
$iron:              #CFD2D6;
$mercury:           #E8E8E8;
$off-white:         #F0F1F2;
$white:             #ffffff;

$red:               #ED565D;
$color-primary:     $brand-primary;
$color-secondary:   $brand-secondary;
$color-highlght:    $brand-highlight;


// ==========================================================================
// Breakpoings
// ==========================================================================
$breakpoint-xs:     320px;
$breakpoint-sm:     640px;
$breakpoint-md:     768px;
$breakpoint-lg:     1024px;
$breakpoint-xl:     1200px;
$breakpoint-xxl:    1600px;

// ==========================================================================
// Fonts
// ==========================================================================
$font-primary:      'Montserrat', sans-serif;
$font-secondary:    'Taviraj', serif;


$font-weight--x-light:      200;
$font-weight--light:        300;
$font-weight--normal:       400;
$font-weight--medium:       500;
$font-weight--bold:         700

// ==========================================================================
// Typography
// ==========================================================================
