@mixin button($background, $border, $color) {
    background-color: $background;
    &:hover {
        background-color: darken($background, 10);
    }
    &--outline {
        background-color: $color;
        border: 1px solid $border;
        color: $background;
        &:hover {
            background-color: darken($background, 10);
            border-color: darken($border, 10);
            color: $color;
        }
    }
}
